body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: #000000;
    color: white;
}

.container {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

li {
    margin-bottom: 10px;
}

.delete-btn {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
